Create database FEHRISTDBTEST
USE FEHRISTDBTEST
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/5/2023 7:33:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 6/5/2023 7:33:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[ACCOUNTID] [int] IDENTITY(1,1) NOT NULL,
	[ROLEID] [int] NULL,
	[NAME] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PASS] [text] NOT NULL,
	[AC_STATUS] [varchar](50) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED] [datetime] NULL,
	[UPDATE_BY] [varchar](50) NULL,
	[DATE_UPDATED] [datetime] NULL,
 CONSTRAINT [PK_dbo.ACCOUNTS] PRIMARY KEY CLUSTERED 
(
	[ACCOUNTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHECKLIST]    Script Date: 6/5/2023 7:33:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHECKLIST](
	[CHECKID] [int] IDENTITY(1,1) NOT NULL,
	[CL_DESCRIPTION] [text] NULL,
	[TASKID] [int] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED] [datetime] NULL,
	[UPDATE_BY] [varchar](50) NULL,
	[DATE_UPDATED] [datetime] NULL,
 CONSTRAINT [PK_dbo.CHECKLIST] PRIMARY KEY CLUSTERED 
(
	[CHECKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 6/5/2023 7:33:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ROLEID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED] [datetime] NULL,
	[UPDATE_BY] [varchar](50) NULL,
	[DATE_UPDATED] [datetime] NULL,
 CONSTRAINT [PK_dbo.ROLES] PRIMARY KEY CLUSTERED 
(
	[ROLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASK_IMAGES]    Script Date: 6/5/2023 7:33:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK_IMAGES](
	[IMAGEID] [int] IDENTITY(1,1) NOT NULL,
	[TI_PATH] [text] NULL,
	[TASKID] [int] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED] [datetime] NULL,
	[UPDATE_BY] [varchar](50) NULL,
	[DATE_UPDATED] [datetime] NULL,
 CONSTRAINT [PK_dbo.TASK_IMAGES] PRIMARY KEY CLUSTERED 
(
	[IMAGEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASKS]    Script Date: 6/5/2023 7:33:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASKS](
	[TASKID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNTID] [int] NULL,
	[T_TITLE] [text] NULL,
	[T_DESC] [text] NULL,
	[T_STATUS] [varchar](50) NULL,
	[T_COLOR] [varchar](50) NULL,
	[T_DUE_DATE_TIME] [varchar](50) NULL,
	[T_ADDED_DATE_TIME] [varchar](50) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED] [datetime] NULL,
	[UPDATE_BY] [varchar](50) NULL,
	[DATE_UPDATED] [datetime] NULL,
 CONSTRAINT [PK_dbo.TASKS] PRIMARY KEY CLUSTERED 
(
	[TASKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNTS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ACCOUNTS_dbo.ROLES_ROLEID] FOREIGN KEY([ROLEID])
REFERENCES [dbo].[ROLES] ([ROLEID])
GO
ALTER TABLE [dbo].[ACCOUNTS] CHECK CONSTRAINT [FK_dbo.ACCOUNTS_dbo.ROLES_ROLEID]
GO
ALTER TABLE [dbo].[CHECKLIST]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CHECKLIST_dbo.TASKS_TASKID] FOREIGN KEY([TASKID])
REFERENCES [dbo].[TASKS] ([TASKID])
GO
ALTER TABLE [dbo].[CHECKLIST] CHECK CONSTRAINT [FK_dbo.CHECKLIST_dbo.TASKS_TASKID]
GO
ALTER TABLE [dbo].[TASK_IMAGES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TASK_IMAGES_dbo.TASKS_TASKID] FOREIGN KEY([TASKID])
REFERENCES [dbo].[TASKS] ([TASKID])
GO
ALTER TABLE [dbo].[TASK_IMAGES] CHECK CONSTRAINT [FK_dbo.TASK_IMAGES_dbo.TASKS_TASKID]
GO
ALTER TABLE [dbo].[TASKS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TASKS_dbo.ACCOUNTS_ACCOUNTID] FOREIGN KEY([ACCOUNTID])
REFERENCES [dbo].[ACCOUNTS] ([ACCOUNTID])
GO
ALTER TABLE [dbo].[TASKS] CHECK CONSTRAINT [FK_dbo.TASKS_dbo.ACCOUNTS_ACCOUNTID]
GO
