USE [FEHRISTDB]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 05/30/2023 12:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROLES](
	[ROLEID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED] [datetime] NULL,
	[UPDATE_BY] [varchar](50) NULL,
	[DATE_UPDATED] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ROLEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ROLES] ON
INSERT [dbo].[ROLES] ([ROLEID], [NAME], [CREATED_BY], [DATE_CREATED], [UPDATE_BY], [DATE_UPDATED]) VALUES (1, N'ADMIN', N'DESKTOP-NPC49O2\Hp', CAST(0x0000B002014F2D5F AS DateTime), N'DESKTOP-NPC49O2\Hp', CAST(0x0000B002014F2D5F AS DateTime))
INSERT [dbo].[ROLES] ([ROLEID], [NAME], [CREATED_BY], [DATE_CREATED], [UPDATE_BY], [DATE_UPDATED]) VALUES (2, N'USER', N'DESKTOP-NPC49O2\Hp', CAST(0x0000B002014F2D5F AS DateTime), N'DESKTOP-NPC49O2\Hp', CAST(0x0000B002014F2D5F AS DateTime))
SET IDENTITY_INSERT [dbo].[ROLES] OFF
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 05/30/2023 12:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[ACCOUNTID] [int] IDENTITY(1,1) NOT NULL,
	[ROLEID] [int] NULL,
	[NAME] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PASS] [text] NOT NULL,
	[PHONE] [varchar](50) NULL,
	[AC_STATUS] [varchar](50) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED] [datetime] NULL,
	[UPDATE_BY] [varchar](50) NULL,
	[DATE_UPDATED] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ACCOUNTID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[ACCOUNTS] ON
INSERT [dbo].[ACCOUNTS] ([ACCOUNTID], [ROLEID], [NAME], [EMAIL], [PASS], [PHONE], [AC_STATUS], [CREATED_BY], [DATE_CREATED], [UPDATE_BY], [DATE_UPDATED]) VALUES (30, 2, N'Noor Ahmed', N'noor.ahmed03@hotmail.com', N'AO8Lj35/tYD2z1JsZi+y5gpSLjmkAQI2tp9MkEXM4aD5/IMZGrDoOkJzCvJ1eR6M0Q==', NULL, N'ACTIVE', N'30', CAST(0x0000B01001058923 AS DateTime), N'DESKTOP-NPC49O2\Hp', CAST(0x0000B01100E21CB4 AS DateTime))
INSERT [dbo].[ACCOUNTS] ([ACCOUNTID], [ROLEID], [NAME], [EMAIL], [PASS], [PHONE], [AC_STATUS], [CREATED_BY], [DATE_CREATED], [UPDATE_BY], [DATE_UPDATED]) VALUES (31, 2, N'test', N'test@g.com', N'ACgeV2UpW7QTCfCLWG4QRtxM8LpTia9D7HmEDLBhcQne8lbEDOJv2NUUOwbElDWgpA==', NULL, N'ACTIVE', N'31', CAST(0x0000B01100D9E5B4 AS DateTime), N'DESKTOP-NPC49O2\Hp', CAST(0x0000B01100E21CB4 AS DateTime))
INSERT [dbo].[ACCOUNTS] ([ACCOUNTID], [ROLEID], [NAME], [EMAIL], [PASS], [PHONE], [AC_STATUS], [CREATED_BY], [DATE_CREATED], [UPDATE_BY], [DATE_UPDATED]) VALUES (32, 2, N'HADSA', N'test@c.com', N'AOjXxz1oUvnAZTaFjLCbcSjodpeXvHQYUcBP/opQsTQBVuXPxg4HrGHSitDfWDYmMA==', NULL, N'ACTIVE', N'32', CAST(0x0000B01100DA9520 AS DateTime), N'DESKTOP-NPC49O2\Hp', CAST(0x0000B01100E21CB4 AS DateTime))
SET IDENTITY_INSERT [dbo].[ACCOUNTS] OFF
/****** Object:  Table [dbo].[TASKS]    Script Date: 05/30/2023 12:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TASKS](
	[TASKID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNTID] [int] NULL,
	[T_TITLE] [text] NULL,
	[T_DESC] [text] NULL,
	[T_STATUS] [varchar](50) NULL,
	[T_COLOR] [varchar](50) NULL,
	[T_DUE_DATE_TIME] [varchar](50) NULL,
	[T_ADDED_DATE_TIME] [varchar](50) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED] [datetime] NULL,
	[UPDATE_BY] [varchar](50) NULL,
	[DATE_UPDATED] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TASKID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TASKS] ON
INSERT [dbo].[TASKS] ([TASKID], [ACCOUNTID], [T_TITLE], [T_DESC], [T_STATUS], [T_COLOR], [T_DUE_DATE_TIME], [T_ADDED_DATE_TIME], [CREATED_BY], [DATE_CREATED], [UPDATE_BY], [DATE_UPDATED]) VALUES (59, 30, N'Test', N'123', N'ARCHIVED', N'#CBF0F8', N'2023-05-28T19:55', N'2023-05-28T10:53', N'30', CAST(0x0000B0100105CC86 AS DateTime), N'DESKTOP-NPC49O2\Hp', CAST(0x0000B01200BFFA51 AS DateTime))
INSERT [dbo].[TASKS] ([TASKID], [ACCOUNTID], [T_TITLE], [T_DESC], [T_STATUS], [T_COLOR], [T_DUE_DATE_TIME], [T_ADDED_DATE_TIME], [CREATED_BY], [DATE_CREATED], [UPDATE_BY], [DATE_UPDATED]) VALUES (60, 30, N'', N'', N'DELETED', N'0', N'', N'2023-05-28T11:24', N'30', CAST(0x0000B010010E4BB9 AS DateTime), N'DESKTOP-NPC49O2\Hp', CAST(0x0000B01200BFFA51 AS DateTime))
INSERT [dbo].[TASKS] ([TASKID], [ACCOUNTID], [T_TITLE], [T_DESC], [T_STATUS], [T_COLOR], [T_DUE_DATE_TIME], [T_ADDED_DATE_TIME], [CREATED_BY], [DATE_CREATED], [UPDATE_BY], [DATE_UPDATED]) VALUES (61, 30, N'Case', N'', N'DELETED', N'#D7AEFB', N'', N'2023-05-28T11:31', N'30', CAST(0x0000B010011045E6 AS DateTime), N'DESKTOP-NPC49O2\Hp', CAST(0x0000B01200BFFA51 AS DateTime))
SET IDENTITY_INSERT [dbo].[TASKS] OFF
/****** Object:  Table [dbo].[TASK_IMAGES]    Script Date: 05/30/2023 12:50:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TASK_IMAGES](
	[IMAGEID] [int] IDENTITY(1,1) NOT NULL,
	[TI_PATH] [text] NULL,
	[TASKID] [int] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED] [datetime] NULL,
	[UPDATE_BY] [varchar](50) NULL,
	[DATE_UPDATED] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IMAGEID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[TASK_IMAGES] ON
INSERT [dbo].[TASK_IMAGES] ([IMAGEID], [TI_PATH], [TASKID], [CREATED_BY], [DATE_CREATED], [UPDATE_BY], [DATE_UPDATED]) VALUES (1, N'/storage/images/30/5.jpeg', NULL, N'30', CAST(0x0000B01001123A6B AS DateTime), N'DESKTOP-NPC49O2\Hp', CAST(0x0000B01200BDCFE6 AS DateTime))
INSERT [dbo].[TASK_IMAGES] ([IMAGEID], [TI_PATH], [TASKID], [CREATED_BY], [DATE_CREATED], [UPDATE_BY], [DATE_UPDATED]) VALUES (2, N'/storage/images/30/1.jpeg', 62, N'30', CAST(0x0000B01001144962 AS DateTime), N'DESKTOP-NPC49O2\Hp', CAST(0x0000B01200BDCFE6 AS DateTime))
INSERT [dbo].[TASK_IMAGES] ([IMAGEID], [TI_PATH], [TASKID], [CREATED_BY], [DATE_CREATED], [UPDATE_BY], [DATE_UPDATED]) VALUES (3, N'/storage/images/30/6.jpeg', 62, N'30', CAST(0x0000B01001152224 AS DateTime), N'DESKTOP-NPC49O2\Hp', CAST(0x0000B01200BDCFE6 AS DateTime))
SET IDENTITY_INSERT [dbo].[TASK_IMAGES] OFF
/****** Object:  Default [df_ACCOUNTS_CREATED_BY]    Script Date: 05/30/2023 12:50:31 ******/
ALTER TABLE [dbo].[ACCOUNTS] ADD  CONSTRAINT [df_ACCOUNTS_CREATED_BY]  DEFAULT (original_login()) FOR [CREATED_BY]
GO
/****** Object:  Default [df_ACCOUNTS_DATE_CREATED]    Script Date: 05/30/2023 12:50:31 ******/
ALTER TABLE [dbo].[ACCOUNTS] ADD  CONSTRAINT [df_ACCOUNTS_DATE_CREATED]  DEFAULT (getdate()) FOR [DATE_CREATED]
GO
/****** Object:  Default [df_ACCOUNTS_UPDATE_BY]    Script Date: 05/30/2023 12:50:31 ******/
ALTER TABLE [dbo].[ACCOUNTS] ADD  CONSTRAINT [df_ACCOUNTS_UPDATE_BY]  DEFAULT (original_login()) FOR [UPDATE_BY]
GO
/****** Object:  Default [df_ACCOUNTS_DATE_UPDATED]    Script Date: 05/30/2023 12:50:31 ******/
ALTER TABLE [dbo].[ACCOUNTS] ADD  CONSTRAINT [df_ACCOUNTS_DATE_UPDATED]  DEFAULT (getdate()) FOR [DATE_UPDATED]
GO
/****** Object:  Default [df_CREATED_BY]    Script Date: 05/30/2023 12:50:31 ******/
ALTER TABLE [dbo].[ROLES] ADD  CONSTRAINT [df_CREATED_BY]  DEFAULT (original_login()) FOR [CREATED_BY]
GO
/****** Object:  Default [df_DATE_CREATED]    Script Date: 05/30/2023 12:50:31 ******/
ALTER TABLE [dbo].[ROLES] ADD  CONSTRAINT [df_DATE_CREATED]  DEFAULT (getdate()) FOR [DATE_CREATED]
GO
/****** Object:  Default [df_UPDATE_BY]    Script Date: 05/30/2023 12:50:31 ******/
ALTER TABLE [dbo].[ROLES] ADD  CONSTRAINT [df_UPDATE_BY]  DEFAULT (original_login()) FOR [UPDATE_BY]
GO
/****** Object:  Default [df_DATE_UPDATED]    Script Date: 05/30/2023 12:50:31 ******/
ALTER TABLE [dbo].[ROLES] ADD  CONSTRAINT [df_DATE_UPDATED]  DEFAULT (getdate()) FOR [DATE_UPDATED]
GO
/****** Object:  Default [df_TASK_IMAGES_CREATED_BY]    Script Date: 05/30/2023 12:50:31 ******/
ALTER TABLE [dbo].[TASK_IMAGES] ADD  CONSTRAINT [df_TASK_IMAGES_CREATED_BY]  DEFAULT (original_login()) FOR [CREATED_BY]
GO
/****** Object:  Default [df_TASK_IMAGES_DATE_CREATED]    Script Date: 05/30/2023 12:50:31 ******/
ALTER TABLE [dbo].[TASK_IMAGES] ADD  CONSTRAINT [df_TASK_IMAGES_DATE_CREATED]  DEFAULT (getdate()) FOR [DATE_CREATED]
GO
/****** Object:  Default [df_TASK_IMAGES_UPDATE_BY]    Script Date: 05/30/2023 12:50:31 ******/
ALTER TABLE [dbo].[TASK_IMAGES] ADD  CONSTRAINT [df_TASK_IMAGES_UPDATE_BY]  DEFAULT (original_login()) FOR [UPDATE_BY]
GO
/****** Object:  Default [df_TASK_IMAGES_DATE_UPDATED]    Script Date: 05/30/2023 12:50:31 ******/
ALTER TABLE [dbo].[TASK_IMAGES] ADD  CONSTRAINT [df_TASK_IMAGES_DATE_UPDATED]  DEFAULT (getdate()) FOR [DATE_UPDATED]
GO
/****** Object:  Default [df_TASKS_CREATED_BY]    Script Date: 05/30/2023 12:50:31 ******/
ALTER TABLE [dbo].[TASKS] ADD  CONSTRAINT [df_TASKS_CREATED_BY]  DEFAULT (original_login()) FOR [CREATED_BY]
GO
/****** Object:  Default [df_TASKS_DATE_CREATED]    Script Date: 05/30/2023 12:50:31 ******/
ALTER TABLE [dbo].[TASKS] ADD  CONSTRAINT [df_TASKS_DATE_CREATED]  DEFAULT (getdate()) FOR [DATE_CREATED]
GO
/****** Object:  Default [df_TASKS_UPDATE_BY]    Script Date: 05/30/2023 12:50:31 ******/
ALTER TABLE [dbo].[TASKS] ADD  CONSTRAINT [df_TASKS_UPDATE_BY]  DEFAULT (original_login()) FOR [UPDATE_BY]
GO
/****** Object:  Default [df_TASKS_DATE_UPDATED]    Script Date: 05/30/2023 12:50:31 ******/
ALTER TABLE [dbo].[TASKS] ADD  CONSTRAINT [df_TASKS_DATE_UPDATED]  DEFAULT (getdate()) FOR [DATE_UPDATED]
GO
/****** Object:  ForeignKey [FK__ACCOUNTS__ROLEID__2DE6D218]    Script Date: 05/30/2023 12:50:31 ******/
ALTER TABLE [dbo].[ACCOUNTS]  WITH CHECK ADD FOREIGN KEY([ROLEID])
REFERENCES [dbo].[ROLES] ([ROLEID])
GO
/****** Object:  ForeignKey [FK__TASK_IMAG__TASKI__40F9A68C]    Script Date: 05/30/2023 12:50:31 ******/
ALTER TABLE [dbo].[TASK_IMAGES]  WITH CHECK ADD FOREIGN KEY([TASKID])
REFERENCES [dbo].[TASKS] ([TASKID])
GO
/****** Object:  ForeignKey [FK__TASKS__ACCOUNTID__37703C52]    Script Date: 05/30/2023 12:50:31 ******/
ALTER TABLE [dbo].[TASKS]  WITH CHECK ADD FOREIGN KEY([ACCOUNTID])
REFERENCES [dbo].[ACCOUNTS] ([ACCOUNTID])
GO
