USE [master]
GO
/****** Object:  Database [FEHRISTDB]    Script Date: 6/1/2023 9:58:45 PM ******/
CREATE DATABASE [FEHRISTDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FEHRISTDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FEHRISTDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FEHRISTDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FEHRISTDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FEHRISTDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FEHRISTDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/1/2023 9:58:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 6/1/2023 9:58:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[ACCOUNTID] [int] IDENTITY(1,1) NOT NULL,
	[ROLEID] [int] NULL,
	[NAME] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[PASS] [text] NOT NULL,
	[AC_STATUS] [varchar](50) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED] [datetime] NULL,
	[UPDATE_BY] [varchar](50) NULL,
	[DATE_UPDATED] [datetime] NULL,
 CONSTRAINT [PK_dbo.ACCOUNTS] PRIMARY KEY CLUSTERED 
(
	[ACCOUNTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHECKLIST]    Script Date: 6/1/2023 9:58:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHECKLIST](
	[CHECKID] [int] IDENTITY(1,1) NOT NULL,
	[CL_DESCRIPTION] [text] NULL,
	[TASKID] [int] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED] [datetime] NULL,
	[UPDATE_BY] [varchar](50) NULL,
	[DATE_UPDATED] [datetime] NULL,
 CONSTRAINT [PK_dbo.CHECKLIST] PRIMARY KEY CLUSTERED 
(
	[CHECKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 6/1/2023 9:58:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ROLEID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NOT NULL,
	[CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED] [datetime] NULL,
	[UPDATE_BY] [varchar](50) NULL,
	[DATE_UPDATED] [datetime] NULL,
 CONSTRAINT [PK_dbo.ROLES] PRIMARY KEY CLUSTERED 
(
	[ROLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASK_IMAGES]    Script Date: 6/1/2023 9:58:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK_IMAGES](
	[IMAGEID] [int] IDENTITY(1,1) NOT NULL,
	[TI_PATH] [text] NULL,
	[TASKID] [int] NULL,
	[CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED] [datetime] NULL,
	[UPDATE_BY] [varchar](50) NULL,
	[DATE_UPDATED] [datetime] NULL,
 CONSTRAINT [PK_dbo.TASK_IMAGES] PRIMARY KEY CLUSTERED 
(
	[IMAGEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASKS]    Script Date: 6/1/2023 9:58:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASKS](
	[TASKID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNTID] [int] NULL,
	[T_TITLE] [text] NULL,
	[T_DESC] [text] NULL,
	[T_STATUS] [varchar](50) NULL,
	[T_COLOR] [varchar](50) NULL,
	[T_DUE_DATE_TIME] [varchar](50) NULL,
	[T_ADDED_DATE_TIME] [varchar](50) NULL,
	[CREATED_BY] [varchar](50) NULL,
	[DATE_CREATED] [datetime] NULL,
	[UPDATE_BY] [varchar](50) NULL,
	[DATE_UPDATED] [datetime] NULL,
 CONSTRAINT [PK_dbo.TASKS] PRIMARY KEY CLUSTERED 
(
	[TASKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNTS] ON 

INSERT [dbo].[ACCOUNTS] ([ACCOUNTID], [ROLEID], [NAME], [EMAIL], [PASS], [AC_STATUS], [CREATED_BY], [DATE_CREATED], [UPDATE_BY], [DATE_UPDATED]) VALUES (1, 2, N'Hafsa', N'hafsanusrat5@gmail.com', N'AH5KX4jkJ+FdxY9ApQ65SCfV0n8mJOxQ5N6bwzcE0r4o9vIO9Oco+vZp4gjJ7kEOAg==', N'ACTIVE', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ACCOUNTS] OFF
SET IDENTITY_INSERT [dbo].[CHECKLIST] ON 

INSERT [dbo].[CHECKLIST] ([CHECKID], [CL_DESCRIPTION], [TASKID], [CREATED_BY], [DATE_CREATED], [UPDATE_BY], [DATE_UPDATED]) VALUES (4, N'123', 4, N'1', CAST(N'2023-06-01T21:57:33.473' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[CHECKLIST] OFF
SET IDENTITY_INSERT [dbo].[ROLES] ON 

INSERT [dbo].[ROLES] ([ROLEID], [NAME], [CREATED_BY], [DATE_CREATED], [UPDATE_BY], [DATE_UPDATED]) VALUES (1, N'ADMIN', NULL, NULL, NULL, NULL)
INSERT [dbo].[ROLES] ([ROLEID], [NAME], [CREATED_BY], [DATE_CREATED], [UPDATE_BY], [DATE_UPDATED]) VALUES (2, N'USER', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ROLES] OFF
SET IDENTITY_INSERT [dbo].[TASK_IMAGES] ON 

INSERT [dbo].[TASK_IMAGES] ([IMAGEID], [TI_PATH], [TASKID], [CREATED_BY], [DATE_CREATED], [UPDATE_BY], [DATE_UPDATED]) VALUES (2, N'/storage/images/1/2.jpeg', 4, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TASK_IMAGES] OFF
SET IDENTITY_INSERT [dbo].[TASKS] ON 

INSERT [dbo].[TASKS] ([TASKID], [ACCOUNTID], [T_TITLE], [T_DESC], [T_STATUS], [T_COLOR], [T_DUE_DATE_TIME], [T_ADDED_DATE_TIME], [CREATED_BY], [DATE_CREATED], [UPDATE_BY], [DATE_UPDATED]) VALUES (4, 1, N'12', N'213', N'DELETED', N'#A7FFEB', N'2023-06-01T13:57', N'2023-06-01T16:57', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TASKS] OFF
/****** Object:  Index [IX_ROLEID]    Script Date: 6/1/2023 9:58:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_ROLEID] ON [dbo].[ACCOUNTS]
(
	[ROLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TASKID]    Script Date: 6/1/2023 9:58:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_TASKID] ON [dbo].[CHECKLIST]
(
	[TASKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TASKID]    Script Date: 6/1/2023 9:58:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_TASKID] ON [dbo].[TASK_IMAGES]
(
	[TASKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ACCOUNTID]    Script Date: 6/1/2023 9:58:45 PM ******/
CREATE NONCLUSTERED INDEX [IX_ACCOUNTID] ON [dbo].[TASKS]
(
	[ACCOUNTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNTS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ACCOUNTS_dbo.ROLES_ROLEID] FOREIGN KEY([ROLEID])
REFERENCES [dbo].[ROLES] ([ROLEID])
GO
ALTER TABLE [dbo].[ACCOUNTS] CHECK CONSTRAINT [FK_dbo.ACCOUNTS_dbo.ROLES_ROLEID]
GO
ALTER TABLE [dbo].[CHECKLIST]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CHECKLIST_dbo.TASKS_TASKID] FOREIGN KEY([TASKID])
REFERENCES [dbo].[TASKS] ([TASKID])
GO
ALTER TABLE [dbo].[CHECKLIST] CHECK CONSTRAINT [FK_dbo.CHECKLIST_dbo.TASKS_TASKID]
GO
ALTER TABLE [dbo].[TASK_IMAGES]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TASK_IMAGES_dbo.TASKS_TASKID] FOREIGN KEY([TASKID])
REFERENCES [dbo].[TASKS] ([TASKID])
GO
ALTER TABLE [dbo].[TASK_IMAGES] CHECK CONSTRAINT [FK_dbo.TASK_IMAGES_dbo.TASKS_TASKID]
GO
ALTER TABLE [dbo].[TASKS]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TASKS_dbo.ACCOUNTS_ACCOUNTID] FOREIGN KEY([ACCOUNTID])
REFERENCES [dbo].[ACCOUNTS] ([ACCOUNTID])
GO
ALTER TABLE [dbo].[TASKS] CHECK CONSTRAINT [FK_dbo.TASKS_dbo.ACCOUNTS_ACCOUNTID]
GO
USE [master]
GO
